version: "3.9"

services:
  user-service:
    build: .
    container_name: user-service
    ports:
      - "4001:4001"
    env_file:
      - .env
    depends_on:
      mongo-user:
        condition: service_healthy  # Wait for healthcheck
    restart: unless-stopped
    networks:
      - user-service-network

  mongo-user:
    image: mongo:6
    container_name: mongo-user
    ports:
      - "27017:27017"
    volumes:
      - mongo-user-data:/data/db
    environment:
      MONGO_INITDB_DATABASE: userdb
    restart: unless-stopped
    networks:
      - user-service-network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 10s

volumes:
  mongo-user-data:

networks:
  user-service-network:
    driver: bridge